/* Styles go here */

.source-image {
    position: relative;
    display: inline-block;
}

.idol-face {
    position: absolute;
    text-align: left;
    width: 0;
    height: 0;
    border: 2px #009c95 solid;
    cursor: pointer;
}

.idol-name {
    color: red;
    min-width: 100px;
    position: absolute;
}
.card-title{
    color: blue;
}
.navbar-nav a{
    font-size: 25px;
    color: white;
    opacity: 0.7;

    
}
.navbar-nav a:hover{
    opacity: 1;
}
.navbar-brand{
    font-size: 35px;
    color: white;
    opacity: 0.7;
}
.navbar-brand:hover{
    opacity: 1;
    color: white;
}
