<form>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8" id='widthImg'>
            <div class="form-group">
                <input type="text" name="link" class="form-control" id="link" placeholder="Nhập vào link ảnh">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Tìm</button>
        </div>
    </div>


</form>