<div class="container">
    {{#each this.results}}
    <h2>{{this.lbl}}</h2>
    <div class="row">
        {{#each this.res}}
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{this.url}}" target="_blank">
                    <img src="{{this.url}}" alt="Lights" style="width:100%; margin-bottom: 20px;">
                </a>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>